<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->
    <!--    导航栏使用以下样式 -->
    <link rel="stylesheet" href="/static?file=12.2f97d03e.chunk.css">
    <link rel="stylesheet" href="/static?file=13.8c3b56fa.chunk.css">
    <link rel="stylesheet" href="/static?file=commons.d40cf249.chunk.css">
    <link rel="stylesheet" href="/static?file=styles.9b5b2500.chunk.css">

</head>
<body class>

<div id="__next">
    <header style="width:100%">
        <div class="_2oDcyf _1YyUun _2RZATq">
            <nav class="_3JYrtj">
                <a class="hM7XFL _1OhGeD" href="/login/view">登录</a>
                <a class="hM7XFL _1OhGeD" href="/register/view">注册</a>
                <a class="hM7XFL _1OhGeD" href="/todo/all">todo</a>
                <a class="hM7XFL _1OhGeD" href="/">主页</a>
                <a class="hM7XFL _1OhGeD" href="/message/all">message</a>
                <a class="hM7XFL _1OhGeD" href="/weibo/all">weibo</a>
            </nav>
        </div>
    </header>

    <div class="_3kbg6I">
        <div class="_3VRLsv" role="main">
            <div class="_gp-ck">
                <section id="_u6558800_x87kv5y9uco">
                    <img src='/static?file=doge.gif'>
                    <img src='/static?file=doge2.gif'>
                    <img src='/static?file=doge1.jpg'>
                </section>

                <section class="ouvJEz">
                    {message}
                </section>

            </div>

            <aside class="_2OwGUo">
                <section class="_3Z3nHf">
                    <div class="_3Oo-T1">
                        <a class="_1b5rv9 _1OhGeD" href="#" target="_blank" rel="noopener noreferrer">
                            <img class="_3T9iJQ" src="/static?file=4.jpg">
                        </a>
                        <div class="_32ZTTG">
                            <div class="_2O0T_w">
                                <div class="_2v-h3G">
                                    <span class="_2vh4fr" title="直着蓝">
                                        <a class="_1OhGeD" href="#" target="_blank"
                                           rel="noopener noreferrer">直着蓝</a>
                                    </span>
                                    <a class="_2edyx1 _3jsL5v _1OhGeD" href="#" target="_blank"
                                       rel="noopener noreferrer">
                                        <img class="_1_2JEL"
                                             src="https://upload.jianshu.io/user_badge/d60756bb-83ca-4515-9eda-a8cd7c72e188"
                                             alt=""
                                             style="width: 16px; height: 16px; min-width: 16px; min-height: 16px;">
                                    </a>
                                </div>
                                <button data-locale="zh-CN" type="button" class="tzrf9N _1OyPqC _3Mi9q9 _34692-">
                                    <span>关注</span>
                                </button>
                            </div>
                            <div class="_1pXc22">总资产1,719</div>
                        </div>
                    </div>
                    <div class="_19DgIp"></div>
                    <div class="_26Hhi2" role="listitem">
                        <div class="_3TNGId" title="一半烟火，一半诗意">
                            <a class="_2ER8Tt _1OhGeD" href="#" target="_blank" rel="noopener noreferrer">一半烟火，一半诗意
                            </a>
                        </div>
                        <div class="DfvGP9">阅读 256</div>
                    </div>
                    <div class="_26Hhi2" role="listitem">
                        <div class="_3TNGId" title="很特别的司机">
                            <a class="_2ER8Tt _1OhGeD" href="#" target="_blank" rel="noopener noreferrer">很特别的司机</a>
                        </div>
                        <div class="DfvGP9">阅读 24</div>
                    </div>
                    <div class="_26Hhi2" role="listitem">
                        <div class="_3TNGId" title="两个人走进公园">
                            <a class="_2ER8Tt _1OhGeD" href="#" target="_blank" rel="noopener noreferrer">两个人走进公园</a>
                        </div>
                        <div class="DfvGP9">阅读 29</div>
                    </div>
                </section>

                <div class="">
                    <section class="_3Z3nHf"><h3 class="QHRnq8 QxT4hD"><span>推荐阅读</span></h3>
                        <div class="cuOxAY" role="listitem">
                            <div class="_3L5YSq" title="大器晚成的人，不会有那么多的人惦记着你的钱">
                                <a class="_1-HJSV _1OhGeD" href="#" target="_blank"
                                   rel="noopener noreferrer">大器晚成的人，不会有那么多的人惦记着你的钱</a>
                            </div>
                            <div class="_19haGh">阅读 545</div>
                        </div>
                        <div class="cuOxAY" role="listitem">
                            <div class="_3L5YSq" title="怎么会没有钱">
                                <a class="_1-HJSV _1OhGeD" href="#" target="_blank"
                                   rel="noopener noreferrer">怎么会没有钱</a>
                            </div>
                            <div class="_19haGh">阅读 2,514</div>
                        </div>
                        <div class="cuOxAY" role="listitem">
                            <div class="_3L5YSq" title="最近没啥心情">
                                <a class="_1-HJSV _1OhGeD" href="#" target="_blank"
                                   rel="noopener noreferrer">最近没啥心情</a>
                            </div>
                            <div class="_19haGh">阅读 131</div>
                        </div>
                        <div class="cuOxAY" role="listitem">
                            <div class="_3L5YSq" title="世上还有这样的傻女人">
                                <a class="_1-HJSV _1OhGeD" href="#" target="_blank"
                                   rel="noopener noreferrer">世上还有这样的傻女人</a></div>
                            <div class="_19haGh">阅读 3,017</div>
                        </div>
                        <div class="cuOxAY" role="listitem">
                            <div class="_3L5YSq" title="戒除“购买无用之物”的习惯">
                                <a class="_1-HJSV _1OhGeD" href="#" target="_blank"
                                   rel="noopener noreferrer">戒除“购买无用之物”的习惯</a>
                            </div>
                            <div class="_19haGh">阅读 504</div>
                        </div>
                    </section>
                </div>

            </aside>
        </div>
    </div>
</div>


</body>
</html>